.content {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  url(../images/img1Blur.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 1px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    width: 75px;
    height: 75px;
    background-color: transparent;
}

.botao:hover{
    cursor: pointer;
}

.buttonImage {
    max-width: 75px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#leftButton{
    position: absolute;
    left: 5px;
    z-index: 15;
}

#rightButton{
    position: absolute;
    right: 5px;
    z-index: 15;
}

.content img {
    position: absolute;
    max-width: 97.5%;
    max-height: 97.5%;
}

/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
    /* estilos aqui */
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    /* estilos aqui */
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    /* estilos aqui */
}

/* Desktop grande */
@media (min-width: 1200px) {
   /* estilos aqui */
}