/*
    Este é o arquivo que controla o css do header e do footer de todas as páginas.
*/

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 0px 2px 20px gray;
    height: 13%;
    width: 100%;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
}

.headerItens {
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    margin-right: 50px;
}

.headerItensDrop {
    display: none;
}

.headerItensDrop:hover .dropdown-content {
    display: block;
}

.link {
    text-decoration: none;
    padding: 0;
    color: black;
    margin: 20px;
    position: relative;
    
}

.link:hover{
    color: rgb(212, 206, 206);
}

.headerItens a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.dropBar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .dropButton {
    margin-right: 50px;
    border: 0;
    outline: 0;
    background-color: whitesmoke;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
  }

#logo {
    max-width: 445px;
    max-height: 235px;
    width: auto;
    height: auto;
    border-radius: 100%;
    margin-left: 5%;
}

.footer {
    display: flex;
    background-color: whitesmoke;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 3%;
    box-shadow: 0px -2px 20px 0px gray;
    z-index: 100;
}

#linkCR {
    margin-left: 5px;
}

@media (max-width: 767px) {
    .headerItens {
        display: none;
    }

    .headerItensDrop {
        display: block;
    }

    #logo {
        max-width: 333.75px;
        max-height: 176.25px;
        width: auto;
        height: auto;
        border-radius: 100%;
        margin-left: 5%;
    }

    .link {
        margin: 15px;
    }
}
